<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190090293913-v9tspl7oe6eo4o1gn7doidnphdn7g6ve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190090293913-v9tspl7oe6eo4o1gn7doidnphdn7g6ve</string>
	<key>API_KEY</key>
	<string>AIzaSyCXnXHlAEPNzIebIquQ_vn1TbMDiqNXQ5g</string>
	<key>GCM_SENDER_ID</key>
	<string>190090293913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.justap</string>
	<key>PROJECT_ID</key>
	<string>justap-bdc9a</string>
	<key>STORAGE_BUCKET</key>
	<string>justap-bdc9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190090293913:ios:f8d258f5d05f395344fe08</string>
</dict>
</plist>